
* {
  margin: 0;
  padding: 0;
}

/* FLEXBOX STYLES */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

/* COLOUR STYLES */

.white-background {
  background-color: #F7F7F2;
}
.red-background {
  background-color: #9E1238;
}
.black-background {
  background-color: #0C090D;
}

.text-white {
color: #F7F7F2;
}

.text-red {
color: #9E1238;
}

/* FONT STYLES */
.font-roboto {
font-family: 'Roboto Mono', monospace;
}

/* SECTION STYLES */

section {
  min-height: 100vh;
}
.section-title {
  font-size: 5vmin;
}

/* NAVBAR SECTION */

/* TOP SECTION */
 
#top {
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.title-wrapper :nth-child(3) {
  margin-right: 15vmin;
}

.top-title, .top-title-small, .section-title {
  display: table;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 2.5vmin;
  font-size: 10vmin;
  padding: 0 1vmin 0 1vmin;
}
.top-title-small {
  font-size: 8vmin;
  margin: 2.5vmin 2.5vmin 0 0;
}

/* ABOUT SECTION */
#about {
  display: flex;
}
.content {
  width: 90vh;
  min-height: 80vh;
  top: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.devicons-container > i {
  display: box;
  font-size: 10vmin;
  margin: 1vmin;
}



