
* {
  margin: 0;
  padding: 0;
}

/* FLEXBOX STYLES */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5vmin;
}

/* COLOUR STYLES */

.white-background {
  background-color: #F7F7F2;
}
.red-background {
    /* background-color: #F7F7F2; */
  background-color: #9E1238;
}
.black-background {
  background-color: #0C090D;
}

.text-white {
color: #F7F7F2;
}

.text-red {
color: #9E1238;
}

/* FONT STYLES */
.font-roboto {
font-family: 'Roboto Mono', monospace;
}

/* SECTION STYLES */

.section-wrapper {
  min-height: 100vh;
  width: 95vw;
  margin: 0 auto;
}
.section-title {
  font-size: 5vmin;
}

/* NAVBAR SECTION */

/* TOP SECTION */
 
#top {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.title-wrapper :nth-child(3) {
  margin-right: 15vmin;
}

.top-title, .top-title-small, .section-title, .project-title {
  display: table;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 2.5vmin;
  font-size: 10vmin;
  padding: 0 1vmin 0 1vmin;
}
.top-title-small {
  font-size: 8vmin;
  margin: 2.5vmin 2.5vmin 0 0;
}

/* ABOUT SECTION */
#about {
  display: flex;
  /* width: 90vh; */
}
.content {
  width: 90vh;
  min-height: 80vh;
  top: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.devicons-container {
  display: flex;
  flex-wrap: wrap;
}
.devicons-container > div {
  display: box;
  font-size: 10vmin;
  margin: 2vmin;
}
.devicons-container > div:hover {
  font-size: 8vmin;
}


/* WORKS SECTION */

.project-card {
  /* width: 45vw;
  height: 40vh; */
  width: 100%;
  height: 80vh;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform .5s;
}
.project-card:hover {
  background-size: 150%;
  /* transform: scale(1.5); */
}
.project-title {
  font-size: 5vmin;
}
.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0C090D;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.project-description {
  margin: 3vmin;
}
.live-link, .github-link {
  font-size: 20vmin;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 1vmin;
}
.live-link:hover,
.github-link:hover {
  color: #9E1238;
}

/* .hidden {
  opacity: 0;
} */

